<!DOCTYPE html>
<html>
  <head>
  <title>{{ title }}</title>
  </head>
  <body>
	<div class="">
		<div class="">
      <table><tr><th>company</th><th>ranking</th></tr>
        <tr id='AETNA-INC'>
          <td class='company'>AETNA INC.</td>
          <td class='ranking'>46</td>
        </tr>
        <tr id='ALPHABET-INC'>
          <td class='company'>ALPHABET INC.</td>
          <td class='ranking'>36</td>
        </tr>
        <tr id='APPLE-INC'>
          <td class='company'>APPLE INC.</td>
          <td class='ranking'>3</td>
        </tr>
        <tr id='CITIGROUP-INC'>
          <td class='company'>CITIGROUP INC.</td>
          <td class='ranking'>29</td>
        </tr>
        <tr id='FORD-MOTOR-COMPANY'>
          <td class='company'>FORD MOTOR COMPANY</td>
          <td class='ranking'>9</td>
        </tr>
      </table>
		</div>	
  </div> 
  </body>
</html>