<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- CSS -->
	<link rel="stylesheet" href="/static/css/foundation.min.css" />
  </head>
  <body>
    <div class="row align-center">
  		<div class="column small-4">Aligned to</div>
  		<div class="column small-4">
        <ul>
          {% for item in items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
	</div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Foundation -->
	<script src="/static/js/what-input.js"></script>
	<script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>