<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- CSS -->
	<link rel="stylesheet" href="/static/css/foundation.min.css" />
  </head>
  <style> p { display: none; } </style>
  <body>
    <div class="row align-center">
  		<div class="column small-4">
        <div class="select">
          <select name="" id="select">
<!--               <option value="default" disabled>Choose company</option> -->
              {% for item in items %}
              <option value="{{ item.company }}">{{ item.company }}</option>
              {% endfor %}
          </select>
        </div>  
      </div>
  		<div class="column small-4">
          {% for item in items %}
              <p id="{{ item.company }}">{{ item.company }}</p>
          {% endfor %}
      </div>
	</div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Foundation -->
	<script src="/static/js/what-input.js"></script>
	<script src="/static/js/foundation.min.js"></script>
  <script src="/static/js/scripts.js"></script>
  <script>
  $(document).ready(function() {

  $(document).foundation();

    $('select').on('change', function (e) {
      var company = $( "#select option:selected" ).text();
      $('p').hide();
      $("#"+company).show();
    });

  });

  </script>
  </body>
</html>